*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.main-content{
    padding-left: 20vh;
    padding-right: 20vh;
}

.container{
    display: flex;
    padding: 10px;
}

.left-content{
    float: left;
    width: 50%;
}

.right-content{
    float:right;
    width: 50%;
}

form .left-content .input-box{
margin-bottom: 15px;
width: calc(100% - 20px);
}

.left-content .input-box input{
height: 45px;
width: 100%;
outline: none;
font-size: 16px;
border-radius: 5px;
padding-left: 15px;
border: 1px solid #ccc;
border-bottom-width: 2px;
transition: all 0.3s ease;
}

.left-content .input-box textarea{
    width: 100%;
    resize: none;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    }

form .button{
    display: flex;
    height: 45px;
    width: 400px;
}

form .button input{
    height: 100%;
    width: 200px;
    margin-top: 3px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #0C7B97;
}

form .button input:hover{
background: #0AA9BA;
}

form .button button{
    height: 100%;
    width: 200px;
    margin-top: 3px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #0C7B97;
}

form .button button a{
    height: 100%;
    width: 200px;
    text-decoration: none;
    color: #fff;
}

form .button button:hover{
background: #0AA9BA;
}

.content-page{
    border-radius: 5px;
    border: none;
    width: 100%;
    overflow-y: auto;
}

table{
    width: 35vw;
    background-color: white;
    border: 1px solid black;
}

.ventas{
    width: 80vw;
    background-color: white;
    border: 1px solid black;
}

th, td{
    border: 1px solid black;
}

/* Productos  */

.productos-lista{
	display: table;
	width: 100%;
}

.productos-caja{
	display: inline-table;
    position: relative;
	padding: 10px;
	width: 100%;
	min-width: 220;
}

.producto{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 5px;
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 0 8px 3px #ccc;
	background-color: #fff;
}

.producto-overlay{
    position: absolute;
    width: 98%;
    height: 76%;
    top: 4%;
    left: 1%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    opacity: 1;
    justify-content: center;
    align-items: center;
}

.producto-overlay2{
    position: absolute;
    width: 98%;
    height: 76%;
    top: 4%;
    left: 1%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    opacity: 0;
    justify-content: center;
    align-items: center;
}

.producto-overlay p{
    font-size: 2em;
    font-weight: bold;
}

.producto img{
	padding-left: 5px;
	width: 120px;
	height: 150px;
	border-radius: 10px 10px 0 0;
}

.detalles-medio{
	width: 60%;
	flex-direction: column;
}

.detalles-titulo{
	padding: 5px;
	font-size: 20px;
	color: #333;
	height: 35px;
}

.detalles-descripcion{
	font-size: 14px;
	color: #333;
	padding: 5px;
	height: 34px;
}

.detalles-precio{
	font-size: 40px;
	color: black;
	padding: 5px;
	width: 20%;
	height: 50%;
	transform: translate( -20% , 80%);
}

.detalles-cantidad{
    font-size: 12px;
}

.comandos{
    display: flex;
    float: right;
    background-color:#0C7B97;
    border-radius: 10px;
    width: 14.9vw;
    transform: translate( 0 , -500%);
}

.comandos li{
    list-style: none;
	font-size: 30px;
	cursor: pointer;
}

.comandos a{
    display: block;
	padding: 0rem 2rem;
	color: white;
	text-decoration: none;
}

.comandos a:hover{
    border-radius: 10px;
    background-color: #0AA9BA;
}

.on{
    border-radius: 10px;
    background-color: #0AA9BA;
}